services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    command: start-dev
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_PROXY=edge
      - KC_HOSTNAME=localhost
      - KC_PROXY_HEADERS=xforwarded
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak/myrealm-import.json:/tmp/myrealm-import.json:ro
      - ./keycloak/entrypoint.sh:/tmp/entrypoint.sh:ro
    entrypoint: /tmp/entrypoint.sh
    networks:
      - my-network

  token-exchanger:
    build:
      context: ./token-exchanger
      dockerfile: Dockerfile
    container_name: token-exchanger
    volumes:
      - ./envoy/keys/private_key.pem:/app/private_key.pem:ro
    networks:
      - my-network
  
  product-api:
    build:
      context: ./product-api
      dockerfile: Dockerfile
    #Disable container name for scaling
    #container_name: product-api
    volumes:
      - ./envoy/keys/public_key.pem:/app/public_key.pem:ro
    networks:
      - my-network
  
  inventory-api:
    build:
      context: ./inventory-api
      dockerfile: Dockerfile
    container_name: inventory-api
    networks:
      - my-network
  
  bff-api:
    build:
      context: ./bff-api
      dockerfile: Dockerfile
    container_name: bff-api
    volumes:
      - ./envoy/keys/public_key.pem:/app/public_key.pem:ro
    networks:
      - my-network
    depends_on:
      - product-api
      - inventory-api

  bff-api-go:
    build:
      context: ./bff-api-go
      dockerfile: Dockerfile
    container_name: bff-api-go
    volumes:
      - ./envoy/keys/public_key.pem:/app/public_key.pem:ro
    networks:
      - my-network
    depends_on:
      - product-api
      - inventory-api

  envoy:
    image: envoyproxy/envoy:v1.28.0
    container_name: envoy
    ports:
      - "9090:9090"    # Public traffic
      - "9001:9001"    # Admin interface
    volumes:
      - ./envoy/envoy.yaml:/etc/envoy/envoy.yaml:ro
      - ./envoy/scripts/aggregator.lua:/etc/envoy/scripts/aggregator.lua:ro
    depends_on:
      - keycloak
      - token-exchanger
      - product-api
      - inventory-api
      - bff-api
      - bff-api-go
    networks:
      - my-network

networks:
  my-network:
    driver: bridge