services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    command: start-dev
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_PROXY=edge
      - KC_HOSTNAME=localhost
      - KC_PROXY_HEADERS=xforwarded
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak/myrealm-import.json:/tmp/myrealm-import.json:ro
      - ./keycloak/entrypoint.sh:/tmp/entrypoint.sh:ro
    entrypoint: /tmp/entrypoint.sh
    networks:
      - my-network

  token-exchanger:
    build: 
      context: ./token-exchanger
      dockerfile: Dockerfile
    container_name: token-exchanger
    volumes:
      - ./envoy/keys/private_key.pem:/app/private_key.pem:ro
    networks:
      - my-network
        
  product-api:
    build:
      context: ./product-api
      dockerfile: Dockerfile
    container_name: product-api
    volumes:
      - ./envoy/keys/public_key.pem:/app/public_key.pem:ro
    networks:
      - my-network

  envoy:
    image: envoyproxy/envoy:v1.28.0
    container_name: envoy
    ports:
      - "9090:9090"    # Public traffic
      - "9001:9001"    # Admin interface
    volumes:
      - ./envoy/envoy.yaml:/etc/envoy/envoy.yaml:ro
    depends_on:
      - keycloak
      - token-exchanger
      - product-api
    networks:
      - my-network

networks:
  my-network:
    driver: bridge